name: trigger blog update

on:
  discussion:
    types: [created, edited, deleted, category_changed]
  workflow_dispatch:

jobs:
  trigger-update:
    runs-on: ubuntu-latest
    steps:
      - uses: benc-uk/workflow-dispatch@v1
        with:
          workflow: main.yml
          repo: king-of-infinite-space/blog
          token: ${{secrets.PERSONAL_ACCESS_TOKEN}}
          
  update-readme-with-feed:
    name: Update README of profile repo with latest feed
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          repository: "King-of-Infinite-Space/King-of-Infinite-Space"
          token: ${{ secrets.PERSONAL_ACCESS_TOKEN }}
      - uses: gautamkrishnar/blog-post-workflow@v1
        with:
          feed_list: "https://blog.lnfinite.space/feed"
          max_post_count: 4
          template: "$newline- [$title]($url) ($date)"
          date_format: yyyy-mm
          enable_keepalive: false
          skip_commit: true
      - run: |
          git config user.name "github-actions[bot]"
          git config user.email "github-actions[bot]@users.noreply.github.com"
          git add .
          if [ -n "$(git status --porcelain)" ]; then
            git commit -m "update $(date +%Y-%m-%d)"
            git push
          else
            echo "Nothing to commit"
          fi
